.main {
    padding-top: 15px;
}

.main p,
.main ul {
    margin: 15px 0;
}

.main ul li {
    margin: 7px 0 0 100px;
    text-align: left;
    font-size: 1.2rem;
}

.main ul li span {
    padding: 3px 15px;
    font-style: italic;
    color: black;
}

.main ul li button {
    padding: 3px 15px;
    font-style: italic;
    color: black;
}

.main ul li button:first-child {
    margin-left: 100px;
}

.priority {
    color: red;
}



